.header {
    grid-area: h;
    background-color: #0b0b0b;
}
  
.logo {
    margin-left: 20px;
    height: 60px;
}

.loginText button {
    margin-left: 10px;
}

.loginBlock {
    float: right;
    margin: 15px 50px 0 0;
}

.loginBlock a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}