.nav {
    grid-area: n;
    background-color: #0b0b0b;
    padding: 20px;
}

.item a {
    transition: all 0.5s;
    color: #b9b9b9;
    text-decoration: none;
}

.item a.activeLink {
    color: #fff;
    transform: scale(1.5);
}
